<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>bndmedia</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="bndmedia" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="bndmedia" data-app />
  <meta property="og:title" name="og:title" content="bndmedia" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />

<link rel="stylesheet" href="/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="/css/font.css">
  
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>


  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">

  
    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="topheader">
       
          <div class="flex-container align-center">
              <div class="cell-2-5">
                
              <div class="header-item">
                <img src="/images/ico-email.png" alt="">Email: 
                <a href="mailto: info@bndvietnam.vn" >  info@bndvietnam.vn</a>
              </div>
              <div class="header-item">
                <img src="/images/ico-mobile.png" alt="">Email: 
                <a href="tel:0979520026" > 0979520026</a>
              </div>
              </div>
              <div class="cell-3-5">
               <div class="flex-container flex-flex-end align-center">
            
         
                <div class="lang-flagang">
                  <img src="/images/lang.png" alt=""> Ngôn ngữ: 
                   <a href="#" class="vi"> Tiếng việt</a>
                
                 </div>
                <ul class="social">
    
                  <li class="facebook">
                      <a href="https://www.facebook.com/CtyRelinesHrs" class="footer-social__item">
                        <img src="/images/fb-icon.png" alt="">
                      </a>
                  </li>
                  <li class="instagram">
                    <a href="#Instagram" class="footer-social__item">
                      <img src="/images/ig-icon.png" alt="">
                    </a>
                </li>
                  <li class="twitter">
                    <a href="#Instagram" class="footer-social__item">
                      <img src="/images/twit-icon.png" alt="">
                    </a>
                </li>
                <li class="youtube">
                  <a href="https://www.youtube.com/@RelinesHrs" class="footer-social__item">
                      <img src="/images/ytb-icon.png" alt="">
                  </a>
              </li>
                 
    
              </ul>
              
              </div>
          </div>
        </div>
   
      </div>
      
      <div class="grid">
        
        <div class="flex-container align-center">
          <div class="cell-1-4">

            <div class="logo">
              <a href="#">
                <img src="/uploaded/logo/logo.png" alt="">
              </a>
            </div>
          </div>
           <div class="cell-3-4">
            <div class="menubar">
                <ul class="nav  hide-on-mobile">
                <li class=" active "> <a href="/" class="">Trang chủ </a>

                </li>

                <li class=" "> <a href="/" class="">Giới thiệu </a>

                </li>
                
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class="">Khóa học </a>
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class="">Lịch khai giảng </a>                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class="">Đào tạo nội bộ </a>
                      
                    
                </li>
              
                <li class=" "> 
                  <a href="/lien-he/" class="">Tin tức </a> 
                  
                  <ul class="submnu1">
                    <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                    </li>
                    <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                    </li>
                </ul>
                </li>
                <li class=" "> 
                  <a href="/lien-he/" class="">Liên hệ </a> 
                  
                 
                </li>
                </ul>
               
          
            </div>
           </div>
         

           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/logo.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
            </div>
            </div>
        </div>
        <div class="c"></div>
   

    </header>
    <!-- content -->
    <div class="content">

      <div class="img-poster" style="position:relative">
          <a class="hide-on-tab" href="">
              <img src="/uploaded/slideshow/bg-slide.png" alt="" width="100%" height="700px" style="object-fit: cover;">
          </a>
          <div class="poster-content">
            <div class="catname">
            Tin tức sự kiện
            </div>
            <div class="c10"></div>
            <div class="line"></div>
            <div class="c30"></div>
            <div class="poster-intro">
              <div class="grid">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic magnam ea suscipit, animi nihil itaque iusto sequi consectetur saepe veniam vel. Suscipit a obcaecati vitae unde harum voluptas optio corporis.
                <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita doloremque illo animi, sunt doloribus veniam eius laboriosam dignissimos fugit nulla, repudiandae explicabo corporis quo at ea. Quae alias corrupti iure?
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi adipisci doloremque delectus consectetur nisi nemo? Quos cum ab consectetur assumenda excepturi explicabo, deleniti atque repellendus voluptatem, totam quibusdam esse non!
              </div>
           </div>
        </div>
      </div>
     
    
    <div class="c30"></div>
    <div class="c20"></div>
    <div class="newsdetail-wrapper">
       <div class="grid">
          <div class="flex-container">
            <div class="cell-3-4 tab-cell-1-1">
              <div class="newsdetail">
              <div class="c30"></div>
              
              <h3 class="newsdetail-name">
                  Niềm tin - Giá trị khác biệt trong sự kiện kỷ niệm
              </h3>
              <div class="hometintuc-creatdate">
                <i class="far fa-clock"></i>  15:25 - 2023/04/22
            </div> 
            <div class="c30"></div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci laborum minima magni inventore odit enim magnam ducimus dicta eius cumque debitis qui in reprehenderit excepturi, iste ea aspernatur hic nemo.
              <br>
              <div class="c10"></div>
              <img src="/uploaded/tin-tuc/item11.png" width="100%" alt="">
              <div class="c30"></div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at quidem veritatis numquam nesciunt vitae fuga, delectus porro. Esse eius beatae inventore exercitationem. Labore eveniet magnam tenetur et rerum est.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate a aut, nostrum consequatur sed expedita eveniet, repellat minus repudiandae fugiat molestiae dolores, quae soluta reiciendis modi rerum accusantium perspiciatis aliquam.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt esse amet doloribus doloremque harum tenetur adipisci aliquam dolorum? Ratione deleniti ex unde eius voluptate ea dicta quam eaque officia nisi?
            <div class="c30"></div>
            <img src="/uploaded/tin-tuc/item11.png" alt="">
            <div class="c30"></div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at quidem veritatis numquam nesciunt vitae fuga, delectus porro. Esse eius beatae inventore exercitationem. Labore eveniet magnam tenetur et rerum est.
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate a aut, nostrum consequatur sed expedita eveniet, repellat minus repudiandae fugiat molestiae dolores, quae soluta reiciendis modi rerum accusantium perspiciatis aliquam.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt esse amet doloribus doloremque harum tenetur adipisci aliquam dolorum? Ratione deleniti ex unde eius voluptate ea dicta quam eaque officia nisi?
              <div class="c30"></div>
              <div class="c20"></div>
                <div class="share-social">
                   <div  class="share-title"> Share this:</div>
                   <div class="c10"></div>
                  <ul class="">

                    <li> 
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
                </div>
                  
                  <div class="c30"></div>
                  <div class="c20"></div>
                 
            
            </div>
            
              <div class="servicecontact-wrapper">
                <div class="grid">
                    <div class="flex-container flex-centered">
                        <div class="cell-3-4 tab-cell-1-1">
                            <div class="servicecontact">
                                <div class="title-contact">
                                    Yêu cầu tư vấn dịch vụ
                                </div>
                                <div class="c30"></div>
                                <div class="homecontact-item">
                                  <form action="/index4.php?page=contact&amp;lang=" method="post" class="frmSubmit" id="regform2" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/">
                                      <input type="hidden" name="code" value="save">     
                
                                      <div class="form_contact">
                                          <div class="c20"></div>
                                          
                                          <div class="flex-container">
                                              <div class="cell-1-2 tab-cell-1-1">
                                                <label for=""> Họ và tên *</label>
                                                  <input name="yourname" type="text" class="txt-contact notNull">
                                              </div> 
                                              <div class="cell-1-2 tab-cell-1-1">
                                                <label for=""> Điện thoại *</label>
                                                  <input name="phone" type="text" class="txt-contact notNull">
                                              </div>
                                              <div class="cell-1-2 tab-cell-1-1">
                                                <label for=""> Email *</label>
                                                  <input name="email" type="text" class="txt-contact">
                                              </div>
                                            
                                              <div class="cell-1-2 tab-cell-1-1">
                                                <label for=""> Yêu cầu tư vấn *</label>
                                                  <input name="other_request" type="text" class="txt-contact">
                                              </div>
                                              <div class="cell-1-1 tab-cell-1-1">
                                                <label for="">Ghi chú</label>
                                                <textarea name="" id="" width="100%" rows="3"></textarea>
                            
                                            </div>
                                          </div>
                                          <div class="btn-contact">
                                            <i class="fa-sharp fa-solid fa-share"></i>
                                            <input name="input" type="button" onclick="$('#regform2').submit()" class="" value="Gửi Yêu cầu liên hệ">
                                          </div>
                                          
                                      </div>
                
                                  </form>
                
                
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="c30"></div>
            <div class="c20"></div>
              </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="featured-news">
                <div class="title">
                   Sản phẩm của chúng tôi
                </div>
                
                <div class="featured-news--item"> 
                    <a href="#" class="img-shine">
                        <img src="/uploaded/tin-tuc/item1.png" alt="Niềm tin - giá trị khác biệt trong sự kiện kỷ niệm" class="image-news" width="100%" height="200px">
                    </a>
                  <div class="featured-news--content">
                    <div class="hometintuc-creatdate">
                      <i class="far fa-clock"></i>  15:25 - 2023/04/22
                  </div>
                    <h3 class="text-line-2">
                        <a href="#">Niềm tin - giá trị khác biệt trong sự kiện kỷ niệm</a>
                    </h3>
                  </div>
                </div>
                 
                <div class="featured-news--item"> 
                  <a href="#" class="img-shine">
                      <img src="/uploaded/tin-tuc/item1.png" alt="Niềm tin - giá trị khác biệt trong sự kiện kỷ niệm" class="image-news" width="100%" height="200px">
                  </a>
                <div class="featured-news--content">
                  <div class="hometintuc-creatdate">
                    <i class="far fa-clock"></i>  15:25 - 2023/04/22
                </div>
                  <h3 class="text-line-2">
                      <a href="#">Niềm tin - giá trị khác biệt trong sự kiện kỷ niệm</a>
                  </h3>
                </div>
              </div>
               
              <div class="featured-news--item"> 
                <a href="#" class="img-shine">
                    <img src="/uploaded/tin-tuc/item1.png" alt="Niềm tin - giá trị khác biệt trong sự kiện kỷ niệm" class="image-news" width="100%" height="200px">
                </a>
              <div class="featured-news--content">
                <div class="hometintuc-creatdate">
                  <i class="far fa-clock"></i>  15:25 - 2023/04/22
              </div>
                <h3 class="text-line-2">
                    <a href="#">Niềm tin - giá trị khác biệt trong sự kiện kỷ niệm</a>
                </h3>
              </div>
            </div>
             
            <div class="featured-news--item"> 
              <a href="#" class="img-shine">
                  <img src="/uploaded/tin-tuc/item1.png" alt="Niềm tin - giá trị khác biệt trong sự kiện kỷ niệm" class="image-news" width="100%" height="200px">
              </a>
            <div class="featured-news--content">
              <div class="hometintuc-creatdate">
                <i class="far fa-clock"></i>  15:25 - 2023/04/22
            </div>
              <h3 class="text-line-2">
                  <a href="#">Niềm tin - giá trị khác biệt trong sự kiện kỷ niệm</a>
              </h3>
            </div>
          </div>
         
            </div>
            </div>
          </div>
       </div>
      </div>
     
    </div>
       <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
        
          
            
            <div class="cell-2-5 tab-cell-1-1">
              <div class="footer-block">

                <div class="footer-name">
                  CÔNG TY CỔ PHẦN DỊCH VỤ <br> TRUYỀN THÔNG  & GIẢI TRÍ BnB VIỆT NAM
                </div>
                <div class="info">
                  <i class="fas fa-phone-alt"></i> <b>Mobile :</b> 0979520026
               </div>
               <div class="info">
                 
                <i class="far fa-envelope"></i> <b>Email : </b> info@bndvietnam.vn

                
              </div>
                <div class="info">       
                  <i class="fas fa-map-marker-alt"></i> <b>Add :</b>  115 Vương Thừa Vũ, Thanh Xuân, Hà nội
                  </div>
                  
                  
                  <div class="info">
                 
                    <i class="fa-regular fa-clock"></i> <b>Time :</b> Giờ làm việc: Từ 09h00 - 18h00 tất cả các ngày trong tuần
  
                    
                  </div>
           
              </div>
              
            </div>
            <div class="cell-1-5 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Về chúng tôi
                </div>             
                <ul class="menuboxfooter" id="">
                  <li><a href="">   Giới thiệu chung</a></li>
                  <li><a href=""> Giá trị cốt lõi</a></li>
                  <li><a href=""> Sứ mệnh</a></li>
                  <li><a href=""> Tầm nhìn</a></li>
                  <li><a href=""> Triết lý kinh doanh</a></li>
                  <li><a href=""> Quá trình phát triển</a></li>
                  <li><a href="">Đội ngũ nhân sự</a></li>
                  
                 
                </ul>
              </div>
              
            </div>
            <div class="cell-1-5 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                Dịch vụ
                </div>             
                <ul class="menuboxfooter" id="">
                  <li><a href=""> Event Management </a></li>
                  <li><a href="">    PR- Marketing</a></li>
                  
                  <li><a href=""> Education</a></li>
                  <li><a href=""> Travel </a></li>
                  
                 
                </ul>
              </div>
              
            </div>
           
            <div class="cell-1-5 tab-cell-1-1">
            <div class="footer-title footer-title-mobile" rel="ct">
            Liên kết MXH
              
           </div>
           <ul class="social social-footer">
    
            <li class="facebook">
                <a href="https://www.facebook.com/CtyRelinesHrs" class="footer-social__item">
                  <img src="/images/fb-icon.png" alt="">
                </a>
            </li>
            <li class="instagram">
              <a href="#Instagram" class="footer-social__item">
                <img src="/images/ig-icon.png" alt="">
              </a>
          </li>
            <li class="twitter">
              <a href="#Instagram" class="footer-social__item">
                <img src="/images/twit-icon.png" alt="">
              </a>
          </li>
          <li class="youtube">
            <a href="https://www.youtube.com/@RelinesHrs" class="footer-social__item">
                <img src="/images/ytb-icon.png" alt="">
            </a>
        </li>
           

        </ul>
          
        </ul>
         
          </div>
        </div>
        </div>
      </div>
    
        
      <div class="footer-end">
          
          <div class="grid">
           
                  <div class="coppy-right">
                    Coppyright 2023 @ BnD Media
                  </div>
              </div>
             
           
           
          </div>
        
     
    </footer>
    <!-- end footer -->


</div>
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



  <div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> <span>Back to top</span></a>
</div>

 

  
</body>

</html>
